.container {
    display: flex;
    margin-bottom: 40px;
    box-shadow: 0 0 0 1px rgb(17 20 24 / 10%), 0 1px 1px rgb(17 20 24 / 20%);
    border-radius: 4px;
    background: #281819;
    border: 1px solid #b7e07e;
    border-bottom: 20px solid #b7e07e;
}

.container:nth-child(odd) {
    flex-direction: row-reverse;
}

.image {
    flex: 2;
}

.image img {
    border-radius: 0;
    float: left;
    width: 100%;
    min-height: 100%;
    background-size: cover;
}

.info {
    font-size: 20px;
    padding: 30px;
    flex: 3;
}

.name {
    font-family: 'PirataOne-Regular';
    font-size: 40px;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container:nth-child(odd) {
        flex-direction: column;
    }
}
