.floating {
    display: flex;
    align-items: center;
    justify-content: center;
    background: cyan;
    min-width: 150px;
    height: 50px;
    color: black;
    pointer-events: none;
    padding: 20px;
}

.text {
    color: white;
    border-radius: 5px;
    text-decoration: underline;
}
