---
import Layout from '../layouts/Characters.astro';
import Character from '../components/Character';
import styles from '../styles/Character.module.css';
---

<Layout title="Characters" description="Overzicht van alle avonturiers">
    <div class={styles.cards}>
        <Character
            picture="/justus-league/images/fernir.png"
            name="Fernir"
            klas="Barbarian"
            race="DragonBorn"
            level={2}
        />
        <Character
            picture="/justus-league/images/ithil.png"
            name="Ithil"
            klas="Druid"
            race="Elf"
            level={2}
        />
        <Character
            picture="/justus-league/images/ool.jpeg"
            name="Ool"
            klas="Monk"
            race="Halfling"
            level={2}
        />
        <Character
            picture="/justus-league/images/xannax.png"
            name="XannaX"
            klas="Warlock"
            race="Changeling"
            level={2}
        />
        <Character
            picture="/justus-league/images/nedsie.jpg"
            name="Nedsie"
            klas="Fighter"
            race="Halfling"
            level={2}
        />
    </div>
</Layout>
