---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header title={SITE_TITLE} />
        <main>
            <h1>Justus League</h1>
            <p class="intro">Welkom op de adventure log van de Justus league.</p>
            <div class="image-container">
                <img
                    src="/justus-league/images/lmopbg.png"
                    alt="Lost Mines of Phandelver"
                />
            </div>
            <hr />
            <p>
                De Justus league is een onwaarschijnlijke groep avonturiers die bij elkaar
                zijn gekomen op een missie om de verloren mijnen van Phandelver te
                ontdekken.
            </p>
            <p>
                De groep bestaat uit een Halfling Monk "Ool", Halfling Fighter "Nedsie
                Evermind", Elf Druid "Ithil", Changling Warlock "XanaX Moonshadow" en
                Dragonborn Barbarian "Fernir".
            </p>
            <p>
                Samen trotseren ze gevaarlijke obstakels en overwinnen ze uitdagende
                beproevingen, hopend op de dag dat ze de mythische mijnen zullen ontdekken
                en hun lot zullen vervullen.
            </p>
        </main>
        <style>
            h1 {
                font-size: 6em;
                line-height: 20px;
                text-align: center;
            }

            h2 {
                margin: 0.5em 0;
            }

            @media only screen and (max-width: 768px) {
                h1 {
                    font-size: 3em;
                    line-height: 1.1;
                }
            }

            .image-container {
                position: relative;
            }

            .image-container::after {
                position: absolute;
                background: #093028; /* fallback for old browsers */
                background: linear-gradient(rgba(0, 130, 170, 0), rgba(0, 130, 170, 1))
                content: '';
                z-index: 2;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0.8;
            }

            .intro {
                text-align: center;
            }
        </style>
    </body>
</html>
