---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <style>
            .title {
                font-size: 2em;
                margin: 0.25em 0 0;
            }
        </style>
    </head>

    <body>
        <Header />
        <main>
            <article>
                <h1 class="title">{title}</h1>
                <hr />
                <slot />
            </article>
        </main>
    </body>
</html>
